#if($value)
#if(${displayParameters.excel_view})
<table width="100%" class="todotable" id="$currtime">
#foreach($item in $items)
    <tr class="initial">
        <td>#if($item.isDone())X#end $item.getTodo()</td>
    </tr>
#end
</table>
#else
<div width="100%" id="todolist-main">
    <table width="100%" class="todotable" id="$currtime">
    #foreach($item in $items)
        <tr class="initial">
            <td width="16px"><input class='todocheckbox' type='checkbox' #if($item.isDone())checked="checked"#end value='true' disabled='disabled'/></td>
            <td class="wrapcolumn"><span#if($item.isDone()) class="todo_done"#else class="todo_undone"#end>$item.getTodo()</span></td>
        </tr>
    #end
    </table>
</div>​
#end
#end