<html>
    <head>
        <title>$action.getText("ru.andreymarkelov.atlas.plugins.todos.admin.config.field.name"): $action.getCurrentFieldData().getName()</title>
        <meta name="decorator" content="admin"/>
        <meta content="admin_plugins_menu/todolist-admin-section" name="admin.active.section">
        <meta content="todolist-configuration-link" name="admin.active.tab">
        $webResourceManager.requireResource("jira.webresources:global-static")
        $webResourceManager.requireResource("jira.webresources:jira-global")
        $webResourceManager.requireResource("com.atlassian.auiplugin:ajs")
    </head>
    <body class="aui">
        <h1>$i18n.getText("ru.andreymarkelov.atlas.plugins.todos.admin.config.field.name"): $action.getCurrentFieldData().getName()</h1>
        #if(!$!{action.getErrorMessages().isEmpty()})
        <div style="padding: 5px;">
            <div class="aui-message error shadowed">
                <p class="title">
                    <span class="aui-icon icon-error"></span>
                    <strong>$i18n.getText("ru.andreymarkelov.atlas.plugins.todos.admin.config.field.error")</strong>
                </p>
                #foreach($error in $action.getErrorMessages())<p>$error</p>#end
            </div>
        </div>
        #end
        <form action="ToDoListConfigAction.jspa" method="post" class="aui">
            <input type="hidden" name="atl_token" value="${atl_token}"/>
            <input type="hidden" name="currentField" value="$currentField"/>
            <div class="field-group">
                <div class="checkbox">
                    <input class="checkbox" type="checkbox" name="nobody" id="nobody" #if($nobody == "true")checked="checked"#end value="true"/>
                    <label for="nobody">$i18n.getText("ru.andreymarkelov.atlas.plugins.todos.admin.config.field.form.nobodyperm")</label>
                </div>
            </div>
            <div class="field-group">
                <div class="checkbox">
                    <input class="checkbox" type="checkbox" name="reporter" id="reporter" #if($reporter == "true")checked="checked"#end value="true"/>
                    <label for="reporter">$i18n.getText("ru.andreymarkelov.atlas.plugins.todos.admin.config.field.form.reporterperm")</label>
                </div>
            </div>
            <div class="field-group">
                <div class="checkbox">
                    <input class="checkbox" type="checkbox" name="showPanel" id="showPanel" #if($showPanel == "true")checked="checked"#end value="true"/>
                    <label for="showPanel">$i18n.getText("ru.andreymarkelov.atlas.plugins.todos.admin.config.field.form.showpanel")</label>
                </div>
            </div>
            <div class="buttons-container">
                <div class="buttons">
                    <input class="aui-button submit" type="submit" value='$i18n.getText("ru.andreymarkelov.atlas.plugins.todos.admin.config.field.savebtn")'/>
                    <a class="cancel" href="ToDoListConfigAction!default.jspa">
                        $i18n.getText("ru.andreymarkelov.atlas.plugins.todos.admin.config.field.cancelbtn")
                    </a>
                </div>
            </div>
        </form>
    </body>
</html>
