div.todolist-edit-btns {
    padding: 4px 0px 4px 0px;
}

textarea.todolist-area {
    resize: none;
}

span.todolist-cancel {
    margin-left: 9px;
}

#todolist-main {}

span.todo_done {
    color: #808080;
    text-decoration: line-through;
}

span.todo_undone {
    color: black;
    text-decoration: none;
}

td.checkboxcolumn {
    text-align: center;
    vertical-align: middle;
    height: 16px;
    width: 16px;
}

.todocheckbox {
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}

.highlight {
    background-color: #FFF8DC;
}

.normal {
    background-color: #FFFFFF;
}

.initial {
    background-color: #FFFFFF;
    color:#000000;
}

td.wrapcolumn {
    word-wrap: break-word;
    max-width:600px;
}
